*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
   scroll-snap-type: y mandatory;
   
}
section
{
    height: 100dvh;
    scroll-snap-align: start;
    /*scroll-margin-top: 40px;*/

}

body
{
    background-image: url("./Land\ page\ background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100dvh;
    width: vw;
}


.nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 rem;
    background-color: black;

}
.logo
{
    margin-left: 60px;
}
.logo img
{
    width: 110px;
    height: 70px;
}
.nav-links
{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    list-style: none;
    margin: 0;
    padding:0;

}
.nav-links li
{
    margin-right: 90px;
}
.nav-links a
{
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    transition: color 0.2s ease;
}
.nav-links a:hover
{
    color: #ccc;
}


/*
main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.left
{
    text-align: center;
}
.left h2,.left p
{
    margin: 0;
}
*/

main
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    color: white;
    gap: 350px;
    
    
    
}
.left 
{
    
   max-width: 600px;
   margin-left: 100px;
}

.left h2
{
    font-size: 4.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

.left p
{
    font-size: 1.4em;                /* Increase font size for the paragraph */
    line-height: 1.6;  
    margin-top: 10px;
}


.right
{
    
    height: 940px;
    max-width: 40%;
    overflow: hidden;
    position: relative;
}
.right img
{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}


.contact-button 
{
    
    background-color: #007BFF; /* Bootstrap primary color */
    margin-top: 45px;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size:  1em;
    transition: background-color 0.3s;
    
    

    
}

.contact-button:hover {
    background-color: #0056b3; /* Darker shade on hover */
}

.contact-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Focus ring */
}































































/*Responsive*/
@media( max-width:768px)
{
      .nav-bar
      {
        flex-direction: column;
        align-items: center;
      }
      .logo
      {
        margin-bottom: 10px;
      }
      .nav-links
      {
        flex-direction: column;
      }
      .nav-links li
      {
        margin-bottom: 10px;
      }
}
























































































@media(max-width:480px)
 {
    .nav-bar
    {
        padding: 0.5rem;

    }
    .logo img
    {
        width: 50px;
        height: 30px;
    }
    .nav-links li
    {
        margin-bottom: 5px;
    }
}





