*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html
{
   scroll-snap-type: y mandatory;
   
}
section
{
    height: 100dvh;
    scroll-snap-align: start;
    scroll-margin-top: 40px;

}

.index
{
    background-image: url("./Land\ page\ background.png");
    background-size: cover;
    background-repeat: no-repeat;
    height:100dvh;
    width: vw;
}
.nav-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1 rem;
    background-color: black;

}
.logo
{
    margin-left: 60px;
}
.logo img
{
    width: 80px;
    height: 50px;
}
.nav-links
{
    display: flex;
    justify-content: space-between  ;
    align-items: center;
    list-style: none;
    margin: 0;
    padding:0;

}
.nav-links li
{
    margin-right: 90px;
}
.nav-links a
{
    color: #fff;
    text-decoration: none;
    transition: color 0.2s ease;
}
.nav-links a:hover
{
    color: #ccc;
}


/*Responsive*/
@media( max-width:768px)
{
      .nav-bar
      {
        flex-direction: column;
        align-items: center;
      }
      .logo
      {
        margin-bottom: 10px;
      }
      .nav-links
      {
        flex-direction: column;
      }
      .nav-links li
      {
        margin-bottom: 10px;
      }
}

@media(max-width:480px)
 {
    .nav-bar
    {
        padding: 0.5rem;

    }
    .logo img
    {
        width: 50px;
        height: 30px;
    }
    .nav-links li
    {
        margin-bottom: 5px;
    }
}